---
layout: default
title: "Aqeel Akber, I'm a physicist."
---

<style>
  body{
    background:url('../assets/bg.jpg') no-repeat center center fixed;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    overflow-x: hidden;
  }
</style>

<div class="wrap-center">
  <h1>Aqeel Akber</h1>
  <p>
    I am Aqeel Akber, a Ph.D candidate in nuclear physics at the
    Australian National University.
  </p>
  <p>
      I like art, science, nature, and humanity.<br/>
      I have a <a href="https://twitter.com/AdmiralAkber" title="Twitter: @AdmiralAkber">twitter</a>.<br/>
      I operate within this <a href="/myos">system</a>.
      <br/>
  </p>

  <br>
  <h1>Blog</h1>
  <h2>Connectivity</h2>
  <a href="/tags"><h4>Posts by tag</h4></a>
  <div name="tagnet" class="svg-container" style="padding-bottom: 300px;">
      <svg width="600" height="300" class="svg-content-responsive"></svg>
      <script src="https://d3js.org/d3.v4.min.js"></script>
      <script src="/js/tag-network.js"></script>
  </div>
  <h2>Posts by date</h2>
  <ul style="list-style-type: none;">
    {% for post in site.posts %}
    <li>
      <strong>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></strong><br>
      {% if post.tags %}<span style="font-variant: small-caps;"><i class="fa fa-tags" style="font-size: 0.7em;" aria-hidden="true"></i> {% for tag in post.tags %}<a href="/tags#{{ tag }}">{{ tag }}</a> {% endfor %}</span>{% endif %}
      {{ post.excerpt }}
    </li>
    {% endfor %}
  </ul>
</div>
